<div>
  <h3 class=in-line><%= @article.title %></h3>
  <%= link_to 'ðŸ–‹', edit_article_path(@article.id) %>
  <%= link_to 'ðŸ—‘ï¸', article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to destroy this piece of art, leaving mankind a little less knowledgeable?'} %>
</div>
<div>
  <p class=in-line><%= @article.content %></p>
</div>
